* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-video-container {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 2px;
}
.section-container {
  width: 100%;
}
.card-data :hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 1s;


}
